<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MultiLingo - Translations you can trust</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main File -->
  <link href="static\assets\css\style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#hero" class="logo d-flex align-items-center">
        <img src="static/assets/img/logo.png" alt="">
        <span>ML</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About ML</a></li>
          <li><a class="nav-link scrollto" href="#services">Languages we can Translate</a></li>
          <li><a class="nav-link scrollto" href="#faq">Language Codes</a></li>
          <li><a class="nav-link scrollto" href="#values">Morse Code Translator</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#footer">ML Translater</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">MultiLingo</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Translations you can trust</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <!-- <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"> -->
              <br>

              <h2>Lets Break The Language Barriers ::
                <br>Introducing language translator capable of translating your Doc to desired Text</h2>

            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>About ML</h3>
              <h2>MutliLingo text</h2>
              <p>
                Hello Folks,
                <br>
                Our Team has made a language Translator to slash down the language barriers. As we Move towards various
                physical
                places, language is too crucial to exchange our thoughts and ideas so in order to overcome these our team
                has made
                translator that can hassle free translate using google translotor Api which has 108 language translating
                capacity.
                Just Upload any of your official document and in seconds you will get your translated text, whether it is
                any official
                government document or any tourist guide info, it can do it All.
              </p>
              <div class="text-center text-lg-start">
                <a href="#footer"
                  class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>ML - Translator</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Services</h2>
          <p>Languages We Can Translate</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>English</h3>
              <a href="https://en.wikipedia.org/wiki/English_language" class="read-more"><span>Read More</span> <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Hindi</h3>

              <a href="https://en.wikipedia.org/wiki/Hindi_Language" class="read-more"><span>Read More</span> <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>French</h3>
      
              <a href="https://en.wikipedia.org/wiki/French_Language" class="read-more"><span>Read More</span> <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Punjabi</h3>
          
              <a href="https://en.wikipedia.org/wiki/Punjabi_Language" class="read-more"><span>Read More</span> <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Italian</h3>
          
              <a href="https://en.wikipedia.org/wiki/Italian_Language" class="read-more"><span>Read More</span> <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Japanese</h3>
          
              <a href="https://en.wikipedia.org/wiki/Japanese_Language" class="read-more"><span>Read More</span> <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>
      <br>
      <header class="section-header">
        <p>... And 102 more such languages</p>

      </header>
    </section><!-- End Services Section -->
    <!-- ======= Language Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>MultiLingo</h2>
          <p>Language Codes</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- Col 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    English
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    en
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    Hindi
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    hi
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    Italian
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    it
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- Col 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq2-content-1">
                    Punjabi
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    pb
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq2-content-2">
                    Japaneses
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    ja
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq2-content-3">
                    French
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    fr
                  </div>
                </div>
              </div>




            </div>
            
          </div>
          
          <header class="section-header">
            <a href = "https://sites.google.com/site/opti365/translate_codes"h2>Click here for the language codes of 58 other languages</h2></a>
          </header>
        </div>

      </div>

    </section><!-- End F.A.Q Section -->


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">






      <div class="row justify-content-center text-center">
        <div class="col-lg-12 text-center">
          <h1>MutliLingo - Image Translater</h1>
        </div>



        <div class="text-center">
          <a 
            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">

            <span>Upload the image file you want to translate</span>


            <i class="bi bi-arrow-right"></i>
          </a>
          <form action="nischay" method="POST" enctype="multipart/form-data">
            <br>
            <input type="file" name="myfile">
            <br>


            <div class="container">
              <div class="footer-newsletter">
                <a
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">

                  <span>Enter the code of the language into which translation needs to be done</span>

                  <i class="bi bi-arrow-right"></i>
                </a>

                <div class="col-lg-12 text-center ">
                  <br>
                  <input type="text" name="lan"><input type="submit" value="Translate">
          </form>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>


      <div class="container">
        <div class="credits">


        </div>
      </div>






      <div class="row justify-content-center text-center">
        <div class="col-lg-12 text-center">
          <h1>MutliLingo - Document Translater</h1>
        </div>



        <div class="text-center">
          <a 
            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">

            <span>Upload the document you want to translate</span>


            <i class="bi bi-arrow-right"></i>
          </a>
          <form action="display" method="POST" enctype="multipart/form-data">
            <br>
            <input type="file" name="myfile">
            <br>


            <div class="container">
              <div class="footer-newsletter">
                <a
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">

                  <span>Enter the code of the language into which translation needs to be done</span>

                  <i class="bi bi-arrow-right"></i>
                </a>

                <div class="col-lg-12 text-center ">
                  <br>
                  <input type="text" name="lan"><input type="submit" value="Translate">
          </form>





          <div class="newsletter-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form method ="POST" action = "#" enctype="multipart/form-data">
                            <!-- Enter text to translate. -->
                            <div class="form-group">
                                <label for="text-to-translate"><strong>Enter the text you'd like to
                                        translate:</strong></label>
                                <textarea class="form-control" name="text-to-translate" id="text-to-translate"
                                    rows="5"></textarea>
                            </div>
                            <!-- Select output language here. -->
                            <div class="form-group">
                                <label for="select-language"><strong>Translate to:</strong></label>
                                <select class="form-control" name="select-language" id="select-language">
                                  <option value="af">Afrikaans</option>
                                  <option value="sq">Albanian</option>
                                  <option value="ar">Arabic</option>
                                  <option value="hy">Armenian</option>
                                  <option value="az">Azerbaijani</option>
                                  <option value="eu">Basque</option>
                                  <option value="be">Belarusian</option>
                                  <option value="bg">Bulgarian</option>
                                  <option value="ca">Catalan</option>
                                  <option value="zh-CN">Chinese (Simplified)</option>
                                  <option value="zh-TW">Chinese (Traditional)</option>
                                  <option value="hr">Croatian</option>
                                  <option value="cs">Czech</option>
                                  <option value="da">Danish</option>
                                  <option value="nl">Dutch</option>
                                  <option value="en">English</option>
                                  <option value="et">Estonian</option>
                                  <option value="tl">Filipino</option>
                                  <option value="fi">Finnish</option>
                                  <option value="fr">French</option>
                                  <option value="gl">Galician</option>
                                  <option value="ka">Georgian</option>
                                  <option value="de">German</option>
                                  <option value="el">Greek</option>
                                  <option value="ht">Haitian</option>
                                  <option value="iw">Hebrew</option>
                                  <option value="hi">Hindi</option>
                                  <option value="hu">Hungarian</option>
                                  <option value="is">Icelandic</option>
                                  <option value="id">Indonesian</option>
                                  <option value="ga">Irish</option>
                                  <option value="it">Italian</option>
                                  <option value="ja">Japanese</option>
                                  <option value="ko">Korean</option>
                                  <option value="lv">Latvian</option>
                                  <option value="lt">Lithuania</option>
                                  <option value="mk">Macedonian</option>
                                  <option value="ms">Malay</option>
                                  <option value="mt">Maltese</option>
                                  <option value="no">Norwegian</option>
                                  <option value="fa">Persian</option>
                                  <option value="pl">Polish</option>
                                  <option value="pt">Portugues</option>
                                  <option value="ro">Romanian</option>
                                  <option value="ru">Russian</option>
                                  <option value="sr">Serbian</option>
                                  <option value="sk">Slovak</option>
                                  <option value="sl">Slovenian</option>
                                  <option value="es">Spanish</option>
                                  <option value="sw">Swahili</option>                                 
                                  <option value="sw">Swedish</option>
                                  <option value="th">Thai</option>
                                  <option value="tr">Turkish</option>
                                  <option value="uk">Ukrainian</option>
                                  <option value="ur">Urdu</option>
                                  <option value="vi">Vietnamese</option>
                                  <option value="cy">Welsh</option>
                                  <option value="yi">Yiddish</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2" id="translate">Translate text</button></br>
                            </br>
                        </form>
                        <!-- Translated text returned by the Translate API is rendered here. -->
                    </div>
                    <div class="col">
                        <form>
                            <div class="form-group" id="translator-text-response">
                                <label for="translation-result"><strong>Translated text:</strong></label>
                                <textarea readonly class="form-control" id="translation-result"
                                    rows="5">{{ text }}</textarea>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>




        </div>
      </div>
      </div>
      </div>
      </div>
      </div>


      <div class="container">
        <div class="credits">


        </div>
      </div>
    </footer><!-- End Footer -->
<!-- ======= Values Section ======= -->
<section id="values" class="values">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>The Roger</h2>
      <p>Morse Code Translator - The Roger</p>
    </header>

    <div class="row">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <img src="assets/img/values-1.png" class="img-fluid" alt="">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="box">
          <a href = "https://roger.vercel.app/"><img src="static/assets/img/Translate-Morse-code.png" class="img-fluid" alt=""></a>
          <h3>Morse Code Translator - The Roger</h3>
          <p>As a warrior for Breaking Language Barriers in our society its our sole duty to contribute to
            our Deaf and Blind community. Lets try to create harmony in this beautiful world by contributing
            to the cause of helping the deaf and blind community to convey their messages with the rset of us.
            Presenting you The Morse Code Translator, which uses Dash and Dots to Encode text characters.
            So let's get together and Break the Language Barriers!</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
        <div class="box">
          <img src="assets/img/values-3.png" class="img-fluid" alt="">
          <h3></h3>
          <p></p>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Values Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team align-self-center">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row gy-4 ">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/niranjan-hebli-333211211/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Niranjan</h4>
                <span>...</span>
                <p>...</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/samridhi-kapoor-5716a1212/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Samridhi</h4>
                <span>...</span>
                <p>...</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/nischay-goyal-822526203/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nischay</h4>
                <span>...</span>
                <p>...</p>
              </div>
            </div>
          </div>


        </div>

      </div>

    </section><!-- End Team Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>ABCD, XYZZ</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 123456789<br>+91 0987654321</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>samridhi.kapoor2903@gmail.com<br>goyalivuq1@gmail.com<br>niranjanhebli77@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Github Links</h3>
                  <a href = "https://github.com/NiranjanHebli">Niranjan</a><br><a href = "https://github.com/NischayGoyal1">Nischay</a></a><br><a href = "https://github.com/NischayGoyal1">Samridhi</a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="static/forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

      <a href="#hero">Scroll To Top</a>
    </section><!-- End Contact Section -->








  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
<!-- <center>
  <form action="nischay" method="post" enctype="multipart/form-data">
    <input type="file" accept="image/jpg ,image/png, image/jpeg" name="im">
    <input type="submit" name="btn">
  </form>
</center> -->

<script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>